<!DOCTYPE html>
<html lang="fr">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Link to the separate styles.css file -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
</head>

<body>

    <!-- Navigation Bar -->
    {% include 'navBar.html' %}
    <!-- Login Content -->
    <div class="container LogInContainer mt-5">
        <div class="row justify-content-center">
            <div class="col-md-6 ">
                <h2 class="mb-4 margin20">Reset mot de passe</h2>
                <form action="{% url 'myapp:password_reset' %}" method="post">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input type="email" class="form-control" id="email" name="email" required>
                    </div>
                    <div class="form-group">
                        <label for="name">Nom et Prénom:</label>
                        <input type="text" class="form-control" id="name" name="name" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Reset</button>
                </form>

            </div>
        </div>
    </div>

    <!-- Footer -->
    {% include 'footer.html' %}
    <!-- Include Bootstrap JS and Popper.js -->
    <script>
        document.querySelector("form").addEventListener("submit", function(event) {
            var email = document.getElementById("email").value;
            var name = document.getElementById("name").value;
            if (email.length == 0 || name.length == 0) {
                event.preventDefault();
                alert("Veuillez remplir tous les champs.");
            }
        });
    </script>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
