<!DOCTYPE html>
<html lang="fr">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Espace utilisateur</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>

<body>

    <!-- Navigation Bar -->

    {% include 'navBar.html' %}

    <ul class="nav nav-tabs" id="userTab" role="tablist">
        <li class="nav-item">
            <a class="nav-link active" id="dashboard-tab" data-toggle="tab" href="#dashboard" role="tab" aria-controls="dashboard" aria-selected="true">Dashboard</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" id="bettingHistory-tab" data-toggle="tab" href="#bettingHistory" role="tab" aria-controls="bettingHistory" aria-selected="false">Historique des mises</a>
        </li>
    </ul>

    <!-- Main Content: Espace utilisateur -->
    <div class="container mt-5">
        <h2 class="mb-4">Espace utilisateur</h2>


        <!-- User-specific details -->
        <h4>Détails de l'utilisateur:</h4>
        <div>
            <strong>Nom:</strong> {{ request.user.username }}
            <strong>Email:</strong> {{ request.user.email }}
            <strong>Date d'inscription:</strong> {{ request.user.date_joined|date:"d M Y" }}
        </div>

        <!-- Betting history graph -->
        <h4 class="mt-4">Historique des paris:</h4>
        <canvas id="bettingHistory" width="400" height="200"></canvas>

        <!-- Script pour générer le graphique -->
        <script>
    var ctx = document.getElementById('bettingHistory').getContext('2d');
    var bettingHistoryChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ labels|safe }},
            datasets: [{
                label: 'Total Amount',
                data: {{ data|safe }},
                borderColor: 'rgba(75, 192, 192, 1)',
                fill: false
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>


    <!-- Footer -->

    {% include 'navBar.html' %}

    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>
</html>
