<footer class="footer text-center">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <a href="https://www.facebook.com/" target="_blank" class="mr-3"><i class="fab fa-facebook-f"></i></a>
                    <a href="https://twitter.com/" target="_blank" class="mr-3"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.instagram.com/" target="_blank" class="mr-3"><i class="fab fa-instagram"></i></a>
                    <a href="https://www.linkedin.com/" target="_blank" class="mr-3"><i class="fab fa-linkedin-in"></i></a>
                    <a href="https://www.youtube.com/" target="_blank"><i class="fab fa-youtube"></i></a>
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-md-12">
                    <p>&copy; 2023 Application de Paris Sportifs. Tous droits réservés.</p>
                </div>
            </div>
        </div>
    </footer>