<!DOCTYPE html>
<html lang="fr">
{% load static %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parier</title>
    <!-- Include Bootstrap CSS -->
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- Link to the separate styles.css file -->
    <link rel="stylesheet" href="{% static 'styles.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">

</head>

<body>

<!-- Navigation Bar -->

    {% include 'navBar.html' %}

 <!-- Main Content -->
 <div class="container mt-5 marinbuttom120">
        <div class="text-center">
            <h2 class="margin20">Sélectionnez votre match</h2>
        </div>

        <form action="{% url 'myapp:place_bets' %}" method="post">
            {% csrf_token %}
            <section>
                <div class="row">
                    {% for match in current_matches %}
                    <div class="col-md-6 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ match.team1.name }} vs {{ match.team2.name }}</h5>
                                <p class="card-text">Date: {{ match.match_time|date:"d/m/Y" }}</p>
                                <p class="card-text">Heure: {{ match.match_time|date:"H:i" }}  Fin: {{ match.end_time|date:"H:i" }}</p>
                                <p class="card-text">Statut: {{ match.status }}</p>
                                {% if match.status != 'À venir' %}
                                <p class="card-text">Score: {{ match.score_team1 }} - {{ match.score_team2 }}</p>
                                {% endif %}
                                <input type="checkbox" name="match_selection" value="{{ match.id }}">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="row">
                    {% for match in upcoming_matches %}
                    <div class="col-md-6 mb-3">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">{{ match.team1.name }} vs {{ match.team2.name }}</h5>
                                <p class="card-text">Date: {{ match.match_time|date:"d/m/Y" }}</p>
                                <p class="card-text">Heure: {{ match.match_time|date:"H:i" }}  Fin: {{ match.end_time|date:"H:i" }}</p>
                                <p class="card-text">Statut: {{ match.status }}</p>
                                {% if match.status != 'À venir' %}
                                <p class="card-text">Score: {{ match.score_team1 }} - {{ match.score_team2 }}</p>
                                {% endif %}
                                <input type="checkbox" name="match_selection" value="{{ match.id }}">
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </section>

            {% if request.user.is_authenticated %}
            <button type="submit" class="btn btn-primary">Miser sur la sélection</button>
            {% else %}
            <p>Connectez-vous pour parier.</p>
            {% endif %}
        </form>
    </div>



    <!-- Footer -->
    {% include 'footer.html' %}

    <!-- Include Bootstrap JS and Popper.js -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

</body>

</html>
